.input-container{
  display: flex;
  flex-direction:column;
}
.inputs {
    height: 45px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 18px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  .inputs:focus {
    border-color: #9b59b6;
  }
  .text-container {
    font-size: 18px;
    text-align: start;
    margin: 10px 0px;
    letter-spacing: 1px;
    font-weight: 600;
  }