.button-input {
  height: 45px;
  font-size: 18px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  outline: none;
  border-radius: 5px;
  border: none;
  margin-top: 15px;
  color: #181b1e;
}
.button-input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
