@font-face {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  src: local("Inter"),
    url(../public/assets/fonts/Inter/static/Inter-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  src: local("Inter"),
    url(../public/assets/fonts/Inter/static/Inter-Regular.ttf)
      format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  src: local("Inter"),
    url(../public/assets/fonts/Inter/static/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  src: local("Inter"),
    url(../public/assets/fonts/Inter/static/Inter-SemiBold.ttf)
      format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  src: local("Inter"),
    url(../public/assets/fonts/Inter/static/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Fredoka-SemiBold";
  src: local("Inter"),
    url(../public/assets/fonts/Fredoka/static/Fredoka-SemiBold.ttf)
      format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Gloria";
  src: local("Gloria"),
    url(/public/assets/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf)
      format("truetype");
}
@font-face {
  font-family: "WorkSans";
  src: local("Gloria"),
    url(/public/assets/fonts/Work_Sans/static/WorkSans-Regular.ttf)
      format("truetype");
}
@font-face {
  font-family: "WorkSans";
  font-weight: bold;
  src: local("Gloria"),
    url(/public/assets/fonts/Work_Sans/static/WorkSans-Bold.ttf)
      format("truetype");
}
@font-face {
  font-family: "Glory";
  src: local("Glory"),
    url(/public/assets/fonts/Give_You_Glory/GiveYouGlory-Regular.ttf)
      format("truetype");
}

@font-face {
  font-family: "Jost";
  src: local("Jost"),
    url(/public/assets/fonts/Jost/static/Jost-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(/public/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
      format("truetype");
}
