.card-container {
  background-color: #181b1e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  width: 219px;
  height: 142px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
}
.note-container {
  flex: 1;
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.065em;
  color: rgba(255, 255, 255, 0.7);
}
.more-button {
  background-color: #181b1e;
  outline: none;
  border: none;
}
.more-contaier {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.card-label-container {
  display: flex;
  gap: 5px;
}
