#root,
#root > div {
  min-height: 100vh;
}
.nav-cont {
  margin: 15px 15px 15px 15px;
  display: flex;
}
.brand-cont{
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  flex: 1;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
}
.search-cont {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}
.brand-logo {
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}
